[submodule "dev_misc"]
	path = dev_misc
    url = https://github.com/j-luo93/dev_misc.git
	branch = sound_law
[submodule "editdistance"]
	path = editdistance
	url = git@github.com:j-luo93/editdistance.git
	branch = master
