[submodule "dev_misc"]
	path = dev_misc
    url = https://github.com/j-luo93/dev_misc.git
	branch = sound_law
[submodule "editdistance"]
	path = editdistance
	url = https://github.com/j-luo93/editdistance.git
	branch = master
[submodule "sound_law/rl/mcts_cpp/parallel-hashmap"]
	path = sound_law/rl/mcts_cpp/parallel-hashmap
	url = git@github.com:greg7mdp/parallel-hashmap.git
