[submodule "dev_misc"]
	path = dev_misc
    url = https://github.com/j-luo93/dev_misc.git
	branch = sound_law
[submodule "editdistance"]
	path = editdistance
	url = https://github.com/j-luo93/editdistance.git
	branch = master
[submodule "mcts_cpp"]
	path = mcts_cpp
	url = /scratch2/j_luo/decipher/mcts_cpp/
[submodule "sound_law/rl/mcts_cpp"]
	path = sound_law/rl/mcts_cpp
	url = /scratch2/j_luo/decipher/mcts_cpp/
